body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.section {
  padding-top: 100px;
  border-bottom: 2px solid;
}

.content {
  margin: 0 auto;
  width: 80%;
}

.summary {
  width: 20em;
}

.project-card {
  width: 20.75rem;
  height: 30rem;
  min-width: 20.75rem;
  min-height: 28rem;
  padding: 1.3em 2em;
  margin: 2em 1.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: #fff;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
  transition: box-shadow .4s, transform .4s;
}

.project-card:hover {
    box-shadow: 0 30px 40px rgba(0, 0, 0, .4);
    cursor: pointer;
    transform: translateY(-10px);
}

.card-title {
    margin-top: .4em;
    min-height: 2.3em;
}

#img {
  width: 230px;
  height: 250px;
  background-color: black;
}

#home { padding-top: 70px; }

.icon {
  width: 70px;
  height: 70px;
  padding-top: 10px;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: font-size .3s;
}

.icon:hover {
  font-size: 60px;
}

.icon-link, .icon-link:hover {
  color: #000;
  text-decoration: none;
  user-select: none;
  outline: none;
}

/* Header */

nav {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #fcfcfc;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
}

.nav-content {
    width: 100%;
    height: 100%;
    padding: 0 2em;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

.link {
    margin-right: 30px;
    padding: 25px 0;
    color: black;
    border-bottom: 2px solid #fcfcfc;
}

.link:hover {
    text-decoration: none;
    user-select: none;
    outline: none;
    color: black;
    border-bottom: 2px solid black;
}