body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fcfcfc;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.section {
    padding: 100px 10% 40px 10%;
    border-bottom: 2px solid #fcfcfc;
    width: 100%;
}

#home {
    padding-top: 70px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#details {
    background-color: #faf5f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5em;
    width: 90%;
    height: 30%;
    margin-bottom: 40px;
}

#profile-pic {
    position: relative;
    left: 8em;
    width: 100%;
    height: 100%;
}

.intro {
    padding-left: 3em;
    width: 55%;
    height: 80%;
}

@media screen and (max-width: 600px) {
    #profile-pic {
        width: 0;
        height: 0;
    }
    .intro {
        padding: 0;
        width: 100%;
        height: 100%;
    }
}

#experience {
    background-color: #f5f8fa;
}


.summary {
    width: 20em;
}

.project-card {
    width: 20.75rem;
    height: 30rem;
    min-width: 20.75rem;
    min-height: 28rem;
    padding: 1.3em 2em;
    margin: 2em 1.5em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: #fff;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    transition: box-shadow .4s, transform .4s;
}

.project-card:hover {
    box-shadow: 0 30px 40px rgba(0, 0, 0, .4);
    cursor: pointer;
    transform: translateY(-10px);
}

.card-title {
    margin-top: .4em;
    min-height: 2.3em;
}

.icon {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: font-size .3s;
}

.icon:hover {
    font-size: 60px;
}

.icon-link, .icon-link:hover, .link:hover {
    color: #000;
    text-decoration: none;
    user-select: none;
    outline: none;
}

/* Header */

nav {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #fcfcfc;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
}

.nav-content {
    width: 100%;
    height: 100%;
    padding: 0 2em;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

.link {
    margin-right: 30px;
    padding: 25px 0;
    color: black;
    border-bottom: 2px solid #fcfcfc;
}

.link:hover {
    border-bottom: 2px solid black;
}

/* Skills */

.skill-card {
    width: 30%;
    border: 2px solid black;
    padding: 2em;
    margin: 1em;
    min-width: 18em;
}

.pills {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.skill-pill {
    border: 1px solid red;
    padding: .3em .7em;
    margin: .5em 1em .5em 0;
}