#skills {
    background-color: #f5f8fa;
}

.cards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-bottom: 3em;
}

.skill-card {
    width: 30%;
    padding: 2em;
    margin: 1em;
    min-width: 18em;
}

.pills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.skill-pill {
    border-radius: 30px;
    padding: .3em .7em;
    margin: .6em 1em .6em 0;
    background-color: #f2f1f0;
}