#volunteer {
    background-color: #f5f8fa;
}

.title {
    margin: 3em 0 2em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.activity {
    margin: 1em 1em 1em 0;
    padding: 1.5em 2.4em 1.5em 1.5em;
    width: 48%;
}